{% capture content %}
  {% if include.icon %}
  <img src="{{ include.icon | relative_url }}" class="app-icon" alt aria-hidden>
  {% endif %}
  <div class="app-info">
    {% if include.type == "title" %}
    <h1>{{ include.title }}</h1>
    {% else %}
    <b>{{ include.title }}</b>
    {% endif %}
    {{ include.description }}
  </div>
{% endcapture %}

{% if include.url %}
<a href="{{ include.url }}" class="app">
  {{ content }}
</a>
{% else %}
<div class="app">
  {{ content }}
</div>
{% endif %}
