{%- macro appbox(title, description=null, icon=null, url=null, heading="b") -%}
  {%- set content -%}
    {%- if icon -%}
    <img src="{{ icon }}" class="app-icon" alt aria-hidden>
    {%- endif -%}
    <div class="app-info">
      <{{ heading }} class="app-title">{{ title }}</{{ heading }}>
      {%- if description -%}
      <div class="app-desc">{{ description }}</div>
      {%- endif -%}
    </div>
  {%- endset -%}
  {%- if url -%}
  <a href="{{ url }}" class="app">
    {{ content | safe }}
  </a>
  {%- else -%}
  <div class="app">
    {{ content | safe }}
  </div>
  {%- endif -%}
{%- endmacro -%}