{%- macro appbox(item, heading="b") -%}
  {%- set data = item.data if item.data else item -%}
  {%- set content -%}
    {%- if data.icon -%}
    <img src="{{ data.icon }}" class="app-icon" alt aria-hidden>
    {%- endif -%}
    <div class="app-info">
      <{{ heading }} class="app-title">{{ data.title }}</{{ heading }}>
      {%- if data.description -%}
      <div class="app-desc">{{ data.description }}</div>
      {%- endif -%}
    </div>
  {%- endset -%}

  {%- if item.url -%}
  <a href="{{ item.url }}" class="app">
    {{ content | safe }}
  </a>
  {%- else -%}
  <div class="app">
    {{ content | safe }}
  </div>
  {%- endif -%}
{%- endmacro -%}