{% set lang = page.lang | default(site.lang) %}
<!doctype html>
<html{% if lang %} lang="{{ lang }}"{% endif %}>
  <head>
  {% include "head.njk" %}
  </head>
  
  <body>
    {% if page.type != "home" %}
    <header>
      <a href="/">
        <img class="proficon" src="{{ site.proficon }}" alt aria-hidden>
        <span>{{ site.title }}</span>
      </a>
    </header>
    {% endif %}

    {{ content | safe }}

    <footer>
      <p class="copy">© 2025 Cizzuk</p>
    </footer>
  </body>
</html>
