{% macro postbox(post, heading="h2") %}
<article class="postbox"{% if post.lang %} lang="{{ post.lang }}"{% endif %}>
  <a href="{{ post.url }}">
    <{{ heading }} class="postbox-title">{{ post.title | escape }}</{{ heading }}>
  <time datetime="{{ post.date | date("yyyy-LL-dd") }}">{{ post.date | date("LLLL dd, yyyy") }}</time>
  </a>
</article>
{% endmacro %}
