{% macro postbox(post, heading="b") %}
  <article class="postbox"{% if post.lang %} lang="{{ post.lang }}"{% endif %}>
    <a href="{{ post.url }}">
      <{{ heading }} class="postbox-title">{{ post.title | escape }}</{{ heading }}>
    <time datetime="{{ post.date | dateISO }}">{{ post.date | date }}</time>
    </a>
  </article>
{% endmacro %}
