{% if page.url == "/" or page.layout == "post" %}
{% assign profiles = site.data.profile %}
{% assign texts = site.data.texts %}
{% assign settings = site.data.settings %}
{% assign icon = page.ogp | default: page.icon | default: page.image %}

{% capture original_schema %}
  {
    "@context":"https://schema.org",
    
    {% if page.layout == "home"%}
    "@type":"ProfilePage",
    "mainEntity":{
      "@type":"Person",
      "identifier":"Cizzuk",
      "name":"{{ profiles.name }}",
      "description":"{{ profiles.bio | strip_html | strip_newlines }}",
      "image":"{{ site.url }}{{ profiles.proficon | relative_url }}",
      "sameAs":[
        {% for sameas in profiles.sameas %}
        "{{ sameas.url }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    },
    "hasPart":[
      {% for collection in settings.collections %}
      {% assign collection_id = collection[0] %}
      {
        "@type":"WebPage",
        "name":"{{ texts.collections[collection_id] }}",
        "url":"{{ site.url }}/{{ page.lang }}{{ collection[1].url }}"
      }
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],

    {% elsif page.layout == "post" %}
    "@type":"BlogPosting",
    {% if page.title != "" %}
    "headline":"{{ page.title | escape }}",
    {% endif %}
    "datePublished":"{{ page.date | date_to_iso8601 }}",
    {% if page.update %}
    "dateModified":"{{ page.update | date_to_iso8601 }}",
    {% endif %}
    {% if icon %}
    "image":"{{ site.url }}{{ icon | relative_url }}",
    {% endif %}
    {% endif %}
    {% if page.tags %}
    "keywords":[
      {% for tag in page.tags %}
      {% assign tag_name = texts.tags[tag] | default: tag %}
      "{{ tag_name }}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],
    {% endif %}
    
    "author":{
      "@type":"Person",
      "identifier":"Cizzuk",
      "name":"{{ profiles.name }}",
      "image":"{{ site.url }}{{ profiles.proficon | relative_url }}",
      "sameAs":[
        {% for sameas in profiles.sameas %}
        "{{ sameas.url }}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }
  }
{% endcapture %}

{% assign lines = original_schema | split: "
" %}
{% assign compressed_schema = "" %}
{% for line in lines %}
  {% assign trimmed_line = line | strip %}
  {% assign compressed_schema = compressed_schema | append: trimmed_line %}
{% endfor %}

<script type="application/ld+json">
  {{- compressed_schema -}}
</script>

{% endif %}
