---
layout: base
---
{% assign profiles = site.data.profile %}
{% assign texts = site.data.texts %}
{% assign settings = site.data.settings %}
<main{% if page.lang and page.lang != site.active_lang %} lang="{{ page.lang }}"{% endif %}>
  <div class="profbox">
    <div class="proficon" id="drpct-main" aria-hidden>
      <noscript>
        <img src="{{ profiles.proficon }}" alt>
      </noscript>
    </div>
    <h1>{{ profiles.name }}</h1>
    <p>{{ profiles.bio }}</p>
  
    <ul>
      {% for sameas in profiles.sameas %}
      {% if sameas.show == true %}
      {% capture icon_html %}
      <img src="{{ sameas.icon }}" alt="{{ sameas.name }}"{% if sameas.darkicon %} class="dark-reverse"{% endif %}>
      {% endcapture %}
      <li>
        {% if sameas.svgicon %}
        <a id="icon-{{ sameas.svgicon }}" href="{{ sameas.url }}" title="{{ sameas.name }}" rel="me" aria-label="{{ sameas.name }}">
          <noscript>{{ icon_html }}</noscript>
        </a>
        {% else %}
        <a href="{{ sameas.url }}" title="{{ sameas.name }}" rel="me" aria-label="{{ sameas.name }}">
          {{ icon_html }}
        </a>
        {% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    
    <ul>
      <li>
        <a id="icon-mail" href="/contact/" title="{{ texts.contact }}" aria-label="{{ texts.contact }}">
          <noscript>
            <img src="{{ '/assets/icons/mail.png' | relative_url }}" alt="{{ texts.contact }}" class="dark-reverse">
          </noscript>
        </a>
      </li>
      <li>
        <a id="icon-heart" href="/tip/" title="{{ texts.tip }}" aria-label="{{ texts.tip }}">
          <noscript>
            <img src="{{ '/assets/icons/heart.png' | relative_url }}" alt="{{ texts.tip }}" class="dark-reverse">
          </noscript>
        </a>
      </li>
    </ul>
  </div>

  <section>
    <h2>{{ texts.collections.app }}</h2>
    {% assign apps = site.app | where_exp: "page", "page.hidden != true" %}
    {% for app in apps limit:3 %}
    {% include appbox.html url=app.url title=app.title icon=app.icon description=app.description %}
    {% endfor %}
    <a href="{{ settings.collections.app.url }}" class="btn">
      {{ texts.show_more }}
    </a> 
  </section>

  <section>
    <h2>{{ texts.collections.announcements }}</h2>
    {% assign posts_announcements = site.announcements | sort: 'date' | reverse | where_exp: "page", "page.hidden != true" %}
    {% for post in posts_announcements limit:3 %}
    {% include postbox.html post=post heading='h3' %}
    {% endfor %}
    <a href="{{ settings.collections.announcements.url }}" class="btn">
      {{ texts.show_more }}
    </a>
  </section>

  <section>
    <h2>{{ texts.collections.notes }}</h2>
    {% assign posts_notes = site.notes | sort: 'date' | reverse | where_exp: "page", "page.hidden != true" %}
    {% for post in posts_notes limit:3 %}
    {% include postbox.html post=post heading='h3' %}
    {% endfor %}
    <a href="{{ settings.collections.notes.url }}" class="btn">
      {{ texts.show_more }}
    </a>
  </section>
</main>
