---
layout: base
---
{% assign texts = site.data.texts %}
<article itemscope itemtype="https://schema.org/BlogPosting" itemprop="articleBody"{% if page.lang and page.lang != site.active_lang %} lang="{{ page.lang }}"{% endif %}>
  <hgroup>
    {% if page.title != "" and page.hide_title != true %}
    <h1 itemprop="headline">{{ page.title }}</h1>
    {% endif %}
    {% assign date_format = page.date_format | default: texts.date_format | default: "%Y-%m-%d" %}
    <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
      {{- page.date | date: texts.date_format -}}
    </time>
    {% if page.update %}
    <time itemprop="dateModified" datetime="{{ page.update | date_to_xmlschema }}">
      {{- texts.update }}: {{ page.update | date: texts.date_format -}}
    </time>
    {% endif %}
  </hgroup>
  {{ content }}
</article>
